/* .App {
  border-radius: 10px;
  margin-top: 80px;
  margin-right: 150px;
} */
.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: blue;
  font-size: 13px;
  border-bottom: 0.5px solid blue;
  margin: 3px 0;
}

.des {
  font-size: 14px;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(88, 87, 87);
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: rgb(190, 31, 31);
  cursor: pointer;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.logout {
  background-color: rgb(165, 27, 2);
}

.login {
  background-color: rgb(18, 19, 19);
  margin-right: 10px;
}

.register {
  background-color: rgb(39, 13, 211);
}

.buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* TEST */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 2rem;
  justify-content: center;
}

@media (max-width: 786px) {
  .gallery {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
